@import "tailwindcss";

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-primary: #1D1E20;
  --color-secondary: #909294;
  --color-box: #F5F6F7;
  --color-default-border: #E8E8E8;
  --color-weak-border: #E9E9EA;
  --color-main: #AB0012;
}

.active{
  @apply bg-main text-white;

}